.link::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.divider {
    border-bottom: 1px solid #F0F0F0;
    display: none;
}

.productListItem + .productListItem .divider {
    display: block;
}
