{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "importName": [
          "effector",
          "effector-next"
        ],
        "reactSsr": true
      }
    ]
  ]
}
