.hidden {
    visibility: hidden;
}

.spinnerContainer {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:not(:disabled):hover {
    @apply text-orange-600
}
