.link::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.link:hover {
    color: #EB5500;
}

.title {
    font-weight: 500;
    line-height: 1.1875;
}

.productListItem:not(:last-child) .divider {
    border-bottom: 1px solid #F0F0F0
}
