.width-1 {
    width: calc(var(--width) * 1);
}
.width-2 {
    width: calc(var(--width) * 2);
}
.width-3 {
    width: calc(var(--width) * 3);
}
.width-4 {
    width: calc(var(--width) * 4);
}
.width-5 {
    width: calc(var(--width) * 5);
}
.width-6 {
    width: calc(var(--width) * 6);
}
.width-7 {
    width: calc(var(--width) * 7);
}
.width-8 {
    width: calc(var(--width) * 8);
}
.width-9 {
    width: calc(var(--width) * 9);
}
.width-10 {
    width: calc(var(--width) * 10);
}
.width-11 {
    width: calc(var(--width) * 11);
}
.width-12 {
    width: 100%;
}
